:root {
  --title-color: #322153;
  --primary-color: #34cb79;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu, sans-serif;
}



/* Box Model: modelo de caixa
Toda caixa tem: largura, altura, espaçamento, preenchimento, bordas, cor, fundo, maneira que é vista pelo HTML(display), alinhamentos, posicionamento, ...
quando temos 2 propriedades no margin, a primeira vale para top&bottom e a segunda para left$right
para 3: top, left$right, bottom/ para 4: top, right, bottom, left
para dimensões:
% / vh ou vw = dinamico
px = fixo
:root = ajuda a criar variaveis
rgba = RGB Alfa, alfa = transição.
*/